<h1>Converter</h1>
<hr />
<div class="row">

    <div class="form-group" >

        <label class="control-label">RUB:</label>

        <div class="control-button">
            <input type="button" id="convert-button" value="Convert"/>
        </div>

        <div class="control-input">
            <input type="text" id="convert-input" />
        </div>

        <div style="clear:both;">&nbsp</div>

    </div>

    <div class="form-group" id="convert-output" style="display:none; width: 400px;">

        <label class="control-label">PLN:</label>

        <div class="control-button">
            &nbsp
        </div>

        <div class="control-input">
            <input type="text" value="0" disabled="disabled" id="convert-result-input"/>
        </div>

        <div style="clear:both;">&nbsp</div>

    </div>
</div>
<style>
    .form-group {
        width: 400px;
    }

    .control-label {
        float:left;
        width: 100px;
        margin-top: 4px;
    }

    .control-button {
        float:right;
        width: 150px;
        margin-top: 4px;
    }

    .control-input {
        float:right;
        width: 150px;
    }

</style>
<script>

    /**
    *
    */
    require(['jquery'], function($){

        var linkUrl = '<?php echo $this->getUrl('sohi_currency_converter/convert/currency')?>';

        //
        $('body').on('click', '#convert-button', function() {

            //
            var currencyInputValue = $('#convert-input').val();

            //
            $.ajax({
                type: 'get',
                url: linkUrl,
                data: "value="+currencyInputValue,
                dataType: 'json',
                success: function(response){

                    if (response.result) {
                        $('#convert-result-input').val(response.data);
                        $('#convert-output').show();
                    }
                    else {
                        $('#convert-result-input').val(0);
                        $('#convert-output').hide();

                        if (response.msg) {
                            alert(response.msg);
                        }
                        else {
                            alert('An AJAX error occurred.');
                        }

                    }


                },
                error: function(){

                    alert('An AJAX error occurred.');
                }
            });
        });
    });


</script>
